    @using Microsoft.AspNetCore.Http
@using BankingApp.Core.Application.Dtos.Account
@using BankingApp.Core.Application.Helpers;
@using BankingApp.Core.Application.ViewModels.User
@inject IHttpContextAccessor httpContextAccessor
@{
    var User = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user_session");
    var isAdmin = User != null ? User.Roles.Any(r => r == "Administrator") : false;
    var isClient = User != null ? User.Roles.Any(r => r == "Client") : false;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BankingApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- CSS only -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-info navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white fw-bold" asp-area="" asp-controller="@(User!= null ? isAdmin?"Admin":"Client": "User")" asp-action="Index">BankingApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        @if (User != null)
                        {

                            if (isClient)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Client" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Pagos
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Client" asp-action="ExpressPay">Expreso</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Client" asp-action="MyBeneficiariesPay">Beneficiarios</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Client" asp-action="CreditCardPay">Tarjeta de crédito</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Client" asp-action="LoanPay">Préstamo</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Client" asp-action="MyBeneficiaries">Beneficiario</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Client" asp-action="CashAdvancePay">Avance de efectivo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Client" asp-action="AccountTransfer">Transferencia</a>
                                </li>
                            }

                            if (isAdmin)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Admin" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    
                                </li>
                                <div class="dropdown">
                                    <button class="btn btn-info dropdown-toggle text-white fw-bold " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Administración
                                    </button>
                                    <ul class="dropdown-menu bg-secondary">
                                        <li>
                                            <a class="nav-link text-white fw-bold" asp-area="" asp-controller="AdminClient" asp-action="Index">Clientes</a>
                                        </li>
                                        <li>
                                            <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Admin" asp-action="Admin">Administradores</a>
                                        </li>
                                    </ul>
                                </div>
                            }

                            <li class="nav-item align-content-end">
                                <a class="nav-link text-white fw-bold" asp-area="" asp-controller="User" asp-action="LogOut">Cerrar session (@(User.UserName))</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - BankingApp
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js?1.1" asp-append-version="true"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
