@using BankingApp.Core.Application.ViewModels.Beneficiary;
@model List<BeneficiaryViewModel>
@{
    ViewData["Title"] = "Beneficiaries";
}


@{ 
    if (ViewBag.beneficiaryStatus.HasError && ViewBag.beneficiaryStatus != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error:</strong> @ViewBag.beneficiaryStatus
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}


<div class="row bg-info container-fluid mb-3">

    <div class="col-4 text-white p-5">

        <h4 class="h4">
            Beneficiarios 👋
        </h4>

    </div>

</div>



<div class="container">

    <div class="row text-center mb-4">

        <div class="col-3">
            <h2> Mis Beneficiarios:</h2>
        </div>

        <div class="col-3 offset-6">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary my-2" data-toggle="modal" data-target="#exampleModal" id="elboton">
                Nuevo Beneficiario - SOlucionar el modal
            </button>  
        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">My Beneficiaries:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form method="post" asp-controller="Client" asp-action="MyBeneficiaries">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Cuenta de Beneficiario</label>
                            <input type="text" name="SavingAccountId" class="form-control" aria-describedby="Account" placeholder="Account Number" required>
                        </div>

                        <button type="submit" class="btn btn-primary">Anadir</button>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>



    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        @{

            if (Model.Count == 0 || Model == null)
            {
                <h3 class="text-danger"> No tiene beneficiarios registrado, anada uno! </h3>
            }
            else
            {

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Numero de cuenta</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        @{ 
                            foreach (BeneficiaryViewModel beneficiary in Model) {
                                <tr> 
                                    <td>@beneficiary.SavingAccountId</td>
                                    <td>@beneficiary.BeneficiaryName</td>
                                    <td>@beneficiary.BeneficiaryLastName</td>

                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <a  asp-controller="Client" asp-action="BeneficiaryDelete" asp-route-id="@beneficiary.Id" class="btn btn-danger">🗑️</a> @*Confirmacion de cuenta antes de borrarla*@
                                        </div>
                                    </td>

                                </tr>
                            }
                        }

                    </tbody>
                </table>


            }

        }




    </div>




</div>